<?xml version="1.0" encoding="utf-8"?>

<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">

	<variable name="logDir" value="${basedir}\log" />

	<targets>
		<target name="Console" type="Console" layout="${longdate} ${level} ${threadid} ${message}" />
		
		<target name="InfoFile" xsi:type="File" fileName="${logDir}\info.log" encoding="utf-8"
						archiveFileName="${logDir}\backup\info.{##}.log"
						archiveAboveSize="10485760"
						archiveNumbering="Sequence"
						maxArchiveFiles="50">
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
				<column name="Time" layout="${longdate}" />
				<column name="Thread" layout="${threadid}" />
				<column name="Level" layout="${level}" />
				<column name="Logger" layout="${logger}" />
				<column name="Message" layout="${message}" />
				<column name="Exception" layout="${exception:format=ToString}" />
			</layout>
		</target>

		<target name="DebugFile" xsi:type="File" fileName="${logDir}\debug.log" encoding="utf-8"
						archiveFileName="${logDir}\backup\debug.{##}.log"
						archiveAboveSize="10485760"
						archiveNumbering="Sequence"
						maxArchiveFiles="100">
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
				<column name="Time" layout="${longdate}" />
				<column name="Thread" layout="${threadid}" />
				<column name="Level" layout="${level}" />
				<column name="Logger" layout="${logger}" />
				<column name="Message" layout="${message}" />
				<column name="Exception" layout="${exception:format=ToString}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" writeTo="InfoFile" minlevel="Info" />
		<logger name="*" writeTo="DebugFile" minlevel="Debug" />
	</rules>
</nlog>