source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget Accord.Math  ~> 3.8
nuget CommandLineParser  ~> 2.8
nuget MongoDB.Bson ~> 2.12
nuget MongoDB.Driver ~> 2.12
nuget MongoDB.Driver.Core ~> 2.12
nuget NConfiguration  ~> 3.0
nuget Newtonsoft.Json  ~> 12.0
nuget Ninject ~> 3.3
nuget NLog ~> 4.7
nuget nunit ~> 3.0
nuget NUnit3TestAdapter ~> 3.17
nuget Microsoft.NET.Test.Sdk ~> 16.9
