<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">

	<time type='AccurateLocal' />

	<targets>
		<target name="Console" xsi:type="Console" layout="${time} ${level} ${logger} ${message} ${exception:format=ToString}"/>
	</targets>

	<rules>
		<logger name="*" writeTo="Console" minlevel="Trace" />
	</rules>
</nlog>
