<?xml version="1.0" encoding="utf-8"?>

<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="LogFile" xsi:type="File" fileName="${currentdir}/log/ShardEqualizer.log" encoding="utf-8"
						archiveFileName="${currentdir}/log/rotate/ShardEqualizer.{##}.log"
						archiveAboveSize="10485760"
						archiveNumbering="Sequence"
						maxArchiveFiles="100">
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
				<column name="Time" layout="${longdate}" />
				<column name="Thread" layout="${threadid}" />
				<column name="Level" layout="${level}" />
				<column name="Logger" layout="${logger}" />
				<column name="Message" layout="${message}" />
				<column name="Exception" layout="${exception:format=ToString}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" writeTo="LogFile" minlevel="Info" final="true" />
		<logger name="*" writeTo="LogFile" minlevel="Debug" final="true" />
		<!--logger name="*" writeTo="LogFile" minlevel="Trace" /-->
	</rules>
</nlog>
